.App {
  text-align: center;
  display:block;
  position:absolute;
  width:100vw;
  height:100vh;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.header {
  background-color: #282c34;
  min-height: 20vh;
  max-height: 20vh;
  width:100vw;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.pokemonBody {
  background-color: #111111;
  display:flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  min-height: 80vh;
  font-size: calc(10px + 2vmin);
  color: black;
}

.GRASSpokemonCard {
  margin: 25px 25px 25px 25px;
  width: 350px;
  height: 500px;
  border-radius: 5%;
  border: 10px solid rgb(196, 252, 214);
  background-color: #9dfc85;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.25), 0px 0px 40px rgba(0,0,0,0.5);
  font-size:1.5rem;
  font-weight: 600;
  font-family: 'Roboto';
}
.FIREpokemonCard {
  margin: 25px 25px 25px 25px;
  width: 350px;
  height: 500px;
  border-radius: 5%;
  border: 10px solid rgb(252,225,100);
  background-color: #f56e00;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.25), 0px 0px 40px rgba(0,0,0,0.5);
  font-size:1.5rem;
  font-weight: 600;
  font-family: 'Roboto';
}
.WATERpokemonCard {
  margin: 25px 25px 25px 25px;
  width: 350px;
  height: 500px;
  border-radius: 5%;
  border: 10px solid rgb(174, 212, 255);
  background-color: #078bf8;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.25), 0px 0px 40px rgba(0,0,0,0.5);
  font-size:1.5rem;
  font-weight: 600;
  font-family: 'Roboto';
}
.BUGpokemonCard {
  margin: 25px 25px 25px 25px;
  width: 350px;
  height: 500px;
  border-radius: 5%;
  border: 10px solid rgb(185, 184, 176);
  background-color: #88673c;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.25), 0px 0px 40px rgba(0,0,0,0.5);
  font-size:1.5rem;
  font-weight: 600;
  font-family: 'Roboto';
}
.NORMALpokemonCard {
  margin: 25px 25px 25px 25px;
  width: 350px;
  height: 500px;
  border-radius: 5%;
  border: 10px solid white;
  background-color: #919191;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.25), 0px 0px 40px rgba(0,0,0,0.5);
  font-size:1.5rem;
  font-weight: 600;
  font-family: 'Roboto';
}
.POISONpokemonCard {
  margin: 25px 25px 25px 25px;
  width: 350px;
  height: 500px;
  border-radius: 5%;
  border: 10px solid rgb(247, 230, 255);
  background-color: #d378e6;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.25), 0px 0px 40px rgba(0,0,0,0.5);
  font-size:1.5rem;
  font-weight: 600;
  font-family: 'Roboto';
}
.ELECTRICpokemonCard {
  margin: 25px 25px 25px 25px;
  width: 350px;
  height: 500px;
  border-radius: 5%;
  border: 10px solid rgb(255, 244, 193);
  background-color: #e9ca18;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.25), 0px 0px 40px rgba(0,0,0,0.5);
  font-size:1.5rem;
  font-weight: 600;
  font-family: 'Roboto';
}
.GROUNDpokemonCard {
  margin: 25px 25px 25px 25px;
  width: 350px;
  height: 500px;
  border-radius: 5%;
  border: 10px solid rgb(231, 222, 181);
  background-color: #8a6d48;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.25), 0px 0px 40px rgba(0,0,0,0.5);
  font-size:1.5rem;
  font-weight: 600;
  font-family: 'Roboto';
}
.FIGHTINGpokemonCard {
  margin: 25px 25px 25px 25px;
  width: 350px;
  height: 500px;
  border-radius: 5%;
  border: 10px solid rgb(255, 216, 216);
  background-color: #ec7979;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.25), 0px 0px 40px rgba(0,0,0,0.5);
  font-size:1.5rem;
  font-weight: 600;
  font-family: 'Roboto';
}
.PSYCHICpokemonCard {
  margin: 25px 25px 25px 25px;
  width: 350px;
  height: 500px;
  border-radius: 5%;
  border: 10px solid rgb(255, 234, 251);
  background-color: #fab7b7;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.25), 0px 0px 40px rgba(0,0,0,0.5);
  font-size:1.5rem;
  font-weight: 600;
  font-family: 'Roboto';
}
.ROCKpokemonCard {
  margin: 25px 25px 25px 25px;
  width: 350px;
  height: 500px;
  border-radius: 5%;
  border: 10px solid rgb(189, 182, 152);
  background-color: #3f3125;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.25), 0px 0px 40px rgba(0,0,0,0.5);
  font-size:1.5rem;
  font-weight: 600;
  font-family: 'Roboto';
}
.GHOSTpokemonCard {
  margin: 25px 25px 25px 25px;
  width: 350px;
  height: 500px;
  border-radius: 5%;
  border: 10px solid rgb(241, 211, 255);
  background-color: #9c57bd81;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.25), 0px 0px 40px rgba(0,0,0,0.5);
  font-size:1.5rem;
  font-weight: 600;
  font-family: 'Roboto';
}
.ICEpokemonCard {
  margin: 25px 25px 25px 25px;
  width: 350px;
  height: 500px;
  border-radius: 5%;
  border: 10px solid rgb(119, 166, 252);
  background-color: #87cff8;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.25), 0px 0px 40px rgba(0,0,0,0.5);
  font-size:1.5rem;
  font-weight: 600;
  font-family: 'Roboto';
}
.DRAGONpokemonCard {
  margin: 25px 25px 25px 25px;
  width: 350px;
  height: 500px;
  border-radius: 5%;
  border: 10px solid rgb(227, 197, 255);
  background-color: #7846ec;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.25), 0px 0px 40px rgba(0,0,0,0.5);
  font-size:1.5rem;
  font-weight: 600;
  font-family: 'Roboto';
}
p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.pokemonCard img {
  animation: updown 1s ease infinite;
}

@keyframes updown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0%);
  }
}

.d-flex {
  display: flex;
}
.justify-content-center{
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.wrap {
  flex-wrap: wrap;
}

.form-control-group {
  display:block;
  width: 100vw;
  margin-top: 25px;
  font-size: 0.75em;
}
.form-control-group input {
  width: 15%;
  height: 2.8rem;
  background: lightblue;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1em;
  color: black;
  
}
.GRASSdiv {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 15px;
  font-weight: 600;
  font-family:'Roboto';
  background-color: rgb(2, 168, 2);
  box-shadow: 0px 1px 3px black;
}
.POISONdiv {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 15px;
  font-weight: 600;
  font-family:'Roboto';
  background-color: purple;
  box-shadow: 0px 1px 3px black;
}
.FIREdiv {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 15px;
  font-weight: 600;
  font-family:'Roboto';
  background-color: orange;
  box-shadow: 0px 1px 3px black;
}
.FLYINGdiv {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 15px;
  font-weight: 600;
  font-family:'Roboto';
  background-color: lightblue;
  box-shadow: 0px 1px 3px black;
}
.WATERdiv {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 15px;
  font-weight: 600;
  font-family:'Roboto';
  background-color: rgb(0, 150, 255);
  box-shadow: 0px 1px 3px black;
}
.BUGdiv {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 15px;
  font-weight: 600;
  font-family:'Roboto';
  background-color: #987554;
  box-shadow: 0px 1px 3px black;
}
.NORMALdiv {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 15px;
  font-weight: 600;
  font-family:'Roboto';
  background-color: #BBBEB0;
  box-shadow: 0px 1px 3px black;
}
.ELECTRICdiv {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 15px;
  font-weight: 600;
  font-family:'Roboto';
  background-color: rgb(217,180,21);
  box-shadow: 0px 1px 3px black;
}
.GROUNDdiv {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 15px;
  font-weight: 600;
  font-family:'Roboto';
  background-color: rgb(224,193,102);
  box-shadow: 0px 1px 3px black;
}

.FIGHTINGdiv {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 15px;
  font-weight: 600;
  font-family:'Roboto';
  background-color: rgb(196,49,43);
  box-shadow: 0px 1px 3px black;
}

.PSYCHICdiv {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 15px;
  font-weight: 600;
  font-family:'Roboto';
  background-color: rgb(240,88,137);
  box-shadow: 0px 1px 3px black;
}

.ROCKdiv {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 15px;
  font-weight: 600;
  font-family:'Roboto';
  background-color: rgb(185,163,56);
  box-shadow: 0px 1px 3px black;
}

.GHOSTdiv {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 15px;
  font-weight: 600;
  font-family:'Roboto';
  background-color: rgb(113,89,154);
  box-shadow: 0px 1px 3px black;
}

.ICEdiv {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 15px;
  font-weight: 600;
  font-family:'Roboto';
  background-color: rgb(152,214,213);
  box-shadow: 0px 1px 3px black;
}

.DRAGONdiv {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 15px;
  font-weight: 600;
  font-family:'Roboto';
  background-color: rgb(99,87,166);
  box-shadow: 0px 1px 3px black;
}
.DARKdiv {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 15px;
  font-weight: 600;
  font-family:'Roboto';
  background-color: rgb(69,57,136);
  box-shadow: 0px 1px 3px black;
}
.STEELdiv {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 15px;
  font-weight: 600;
  font-family:'Roboto';
  background-color: #71797E;
  box-shadow: 0px 1px 3px black;
}
.FAIRYdiv {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 15px;
  font-weight: 600;
  font-family:'Roboto';
  background-color: pink;
  box-shadow: 0px 1px 3px black;
}
.weaknesses {
  height:35px;
  width:70px;
  font-size: 0.5em;
  color: black;
  margin-bottom: 5px;
}